<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE BYTESHOP</title>
    <link rel="stylesheet" href="../css/landingpage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="logo">THE BYTESHOP</div>
        <div class="account-cart">
            <div id="account"> <a class="hypervinculo"  href="../../index.html">Ingresa a nuestro sitio web</a></div>
        </div>
    </header>
    <div class="containerS">
        <!-- Main content -->
        <main>
            <div class="banner">
                <!-- Carrusel -->
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <a class="hypervinculo" href="../../index.html"> <img src="../img/silla_yay.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                        <a class="hypervinculo" href="../../index.html"><img src="../img/adata.png" class="d-block w-100" alt="..."></a>
                        </div>
                        <div class="carousel-item">
                        <a class="hypervinculo" href="../../index.html"><img src="../img/pc.png" class="d-block w-100" alt="..."></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="contenedor-categoria">
                    <div class="categoria-title">
                    <h2>SOLO LO MEJOR EN TECNOLOGIA EN THE BYTESTORE</h2>
                    </div>
                    <div class="categories" id="categories">
                        <div class="category-card" data-price="1000">
                            <img src="../img/mouse-logitech.jpg" alt="Mouse">
                            <span>Logitech G502 Hero</span>
                            <p class="price"><strong>PRECIO</strong> $1029.00</p>
                            <button class="add-to-cart"><a class="hypervinculo" href="../../index.html">Click Aqui!!</a></button>
                        </div>
                        <div class="category-card" data-price="1000">
                            <img src="../img/audifono-hyperx.jpg" alt="Audifonos">
                            <span>HyperX Cloud II Core Wireless Gaming Headset</span>
                            <p class="price"><strong>PRECIO</strong> $897.60</p>
                            <button class="add-to-cart"> <a class="hypervinculo" href="../../index.html">Click Aqui!!</a></button>
                        </div>
                        <div class="category-card" data-price="1000">
                            <img src="../img/tecladocorsai.jpg" alt="Teclado">
                            <span>Corsair K95 RGB Platinum</span>
                            <p class="price"><strong>PRECIO</strong> $4199.00</p>
                            <button class="add-to-cart"><a class="hypervinculo" href="../../index.html">Click Aqui!!</a></button>
                        </div>
                        <div class="category-card" data-price="500">
                            <img src="../img/silla-razer.jpg" alt="Silla gamer">
                            <span>Razer Iskur V2 X</span>
                            <p class="price"><strong>PRECIO</strong> $12299.00</p>
                            <button class="add-to-cart"> <a class="hypervinculo" href="../../index.html">Click Aqui!!</a></button>
                        </div>
                        <div class="category-card" data-price="300">
                            <img src="../img/volante-logitech.jpg" alt="Volante">
                            <span>Logitech G29 Driving Force</span>
                            <p class="price"><strong>PRECIO</strong> $4325.00</p>
                            <button class="add-to-cart"><a class="hypervinculo" href="../../index.html">Click Aqui!!</a></button>
                        </div>
                        <div class="category-card" data-price="700">
                            <img src="../img/monitor-chido.jpg" alt="Monitor">
                            <span>Monitor LED 24.5" Asus Full HD IPS 360Hz</span>
                            <p class="price"><strong>PRECIO</strong> $5387.13</p>
                            <button class="add-to-cart"><a class="hypervinculo" href="../../index.html">Click Aqui!!</a></button>
                        </div>
                    </div>
                </div>
                <div class="marquesina">
                    <div class="contenido">
                        <img src="../img/yeyianlogo.jpg" alt="yeyian">
                        <img src="../img/adatalogo.png" alt="adata">
                        <img src="../img/gigabyte.png" alt="gigabyte">
                        <img src="../img/MSI-Logo.png" alt="msi">
                        <img src="../img/intel.jpg" alt="intel">
                        <img src="../img/asus-logo.png" alt="asus">
                        <img src="../img/NVIDIA-logo.png" alt="nvidia">
                                <img src="../img/yeyianlogo.jpg" alt="yeyian">
                        <img src="../img/adatalogo.png" alt="adata">
                        <img src="../img/gigabyte.png" alt="gigabyte">
                        <img src="../img/MSI-Logo.png" alt="msi">
                        <img src="../img/intel.jpg" alt="intel">
                        <img src="../img/asus-logo.png" alt="asus">
                        <img src="../img/NVIDIA-logo.png" alt="nvidia">
                    </div>
                </div>
            </div>
        </main>

    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-section footer-about">
                <h3>Sobre Nosotros</h3>
                <p>Somos una empresa dedicada a ofrecer las mejores soluciones tecnológicas con los más altos estándares de calidad y servicio a nuestros clientes.</p>
                <div class="footer-social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-section footer-contact">
                <h3>Contacto</h3>
                <p><i class="fas fa-map-marker-alt"></i> Av. mister mike #123, Aguascalientes</p>
                <p><i class="fas fa-phone"></i> +52 4492094745</p>
                <p><i class="fas fa-envelope"></i> informacion@byteshop.com</p>
                <p><i class="fas fa-clock"></i> Lun-Vie: 9:00 - 18:00</p>
            </div>
            <div class="footer-section footer-newsletter">
                <h3>Quieres conocer todas nuestras ofertas</h3>
                <p>Suscríbete a nuestro sitio para recibir las últimas actualizaciones y ofertas.</p>
                <form class="newsletter-form">
                    <input type="email" placeholder="Tu correo electrónico" required>
                    <button type="submit" style="color:#200791 ;"><i class="fas fa-paper-plane">👉</i></button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Mi Empresa. Todos los derechos reservados.</p>
            <p>lee nuestro <a hrf="landingpage.html" class="hypervinculo" style="color:white;"><strong> avisos de privacidad </strong></a> y nuestros <a href="landingpage.html" class="hypervinculo" style="color:white;"><strong>terminos y condiciones</strong></a></p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="../js/script.js"></script>
</body>
</html>
