<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Métodos de Pago</title>
<style>
body{
    background:#f3f3f3;
    font-family:Arial;
    padding:20px;
}
.card{
    max-width:420px;
    margin:auto;
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}
.btn{
    display:block;
    width:100%;
    padding:12px;
    background:#008cff;
    color:white;
    text-align:center;
    border-radius:10px;
    text-decoration:none;
    margin-top:12px;
}
.btn:hover{
    background:#005b9a;
}
</style>
</head>

<body>

<div class="card">
    <h2>Elige tu método de pago</h2>

    <a class="btn" href="pago-monedero.html">Monedero digital</a>
    <a class="btn" href="pago-cajero.html">Cajero automático</a>
</div>

</body>
</html>
